@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.vazirmatn {
  font-family: "Vazirmatn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.marheymatn {
  font-family: "Marhey", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  direction: rtl;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
